@import "../../styles/base/variables";

.show-more {
  background-color: $bs-grey;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  cursor: pointer;

  width: 15%; // left space from header__container

  @media only screen and (max-width: 600px) {
    p {

    display: none;
    }
  }

  &__modal {
    background-color: $bs-grey;
    position: fixed;
    right: 0;
    top: 90px;
    height: 500px;
    width: 30vw;
  }
}
